@import "~@/assets/styles/mobile_base.scss";

$color-light-blue: #7285bc;
$color-blue: #99b3fe;

.stateBox {
    text-align: left;
    font-weight: bold;
    transition: all .2s ease-in-out;
    background-color: var(--webclient-netinfo-bg, $color-bg-trans40-blue);
    color: var(--webclient-netinfo-font-color, $color-blue) ;
    width: 185px;
    // height: 160px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: var(--webclient-netinfo-font-size, 14);
    font-family: var(--webclient-netinfo-font-family, auto);
    line-height: 2;
    padding: 5px;
    z-index: 1000;
    p {
        margin: 0;
    }
    .closeBtn {
        height: 35px;
        width: 35px;
        float: right;
    }
    .serverState {
        border-top: 1px solid;
    }
}

.stateBox.enable {
    right: 0;
}

.stateBox.disable {
    right: -999px;
}