@import "~@/assets/styles/mobile_base.scss";

$color-light-blue: #7285bc;
$color-blue: #99b3fe;

.stateBox {
    text-align: left;
    font-weight: bold;
    transition: all .2s ease-in-out;
    background-color: $color-bg-trans40-blue;
    color: $color-blue;
    width: 160px;
    // height: 160px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 14px;
    line-height: 2;
    padding: 5px;
    p {
        margin: 0;
    }
    .closeBtn {
        height: 35px;
        width: 35px;
        float: right;
    }
}

.stateBox.enable {
    right: 0;
}

.stateBox.disable {
    right: -999px;
}