/* Default */
/* 全局变量 */
:root {
    /* 主背景颜色 */
    --webclient-bg-color: rgba(0, 0, 0, 0.05);
    /* 左上角网络图标 */
    --webclient-rtt-good: #34a853;
    --webclient-rtt-bad: red;
    /* 右下角控制球 */
    --webclient-nav-bg: rgba(46, 100, 255, 0.2);
    --webclient-nav-font-color: #fff;
    /* 网络信息面板 */
    --webclient-netinfo-bg: rgba(18, 37, 95, 0.4);
    --webclient-netinfo-font-color: #99b3fe;
    /* 单位px */
    --webclient-netinfo-font-size: 14;
    --webclient-netinfo-font-family: auto;
    /* 菜单 */
    /* 菜单头部 */
    --webclient-menu-header-bg:rgba(18, 37, 95, 0.4);
    --webclient-menu-header-font-color: #7285bc;
    /* TODO 单位px，经过px2rem转换，最终计算转换为 rem */
    /* --webclient-menu-header-font-size: 24; */
    --webclient-menu-header-font-family: auto;
    --webclient-menu-header-font-weight: 600;
    --webclient-menu-header-closebutton-font-color: #99b3fe;
    /* 菜单主体 */
    --webclient-menu-body-bg: rgba(18, 37, 95, 0.4);
    --webclient-menu-body-font-color: #7285bc;
    /* TODO 单位px，经过px2rem转换，最终计算转换为 rem */
    /* --webclient-menu-body-font-size: 26; */
    --webclient-menu-body-font-family: auto;
    --webclient-menu-body-font-weight: 600;
    --webclient-menu-body-font-color-active: #fff;
    --webclient-menu-body-item-boder-color: #fff;
    --webclient-menu-body-item-slider-bg: rgba(18, 37, 95, 1);
    /* 弹出警告框 */
    --webclient-alert-bg: rgba(18, 37, 95, 0.8);
    --webclient-alert-border: rgba(46, 100, 255, 0.8);
    --webclient-alert-font-family: auto;
    --webclient-alert-font-weight: 600;
    --webclient-alert-font-color: #fff;
    --webclient-alert-button-bg: rgba(18, 37, 95, 1.0);
    --webclient-alert-button-border: rgba(46, 100, 255, 0.8);
    --webclient-alert-button-font-color: #acc1ff;
    /* 弹出确认框 */
    --webclient-confirm-bg: rgba(18, 37, 95, 0.8);
    --webclient-confirm-border: rgba(46, 100, 255, 0.8);
    --webclient-confirm-font-family: auto;
    --webclient-confirm-font-weight: 600;
    --webclient-confirm-font-color: #fff;
    --webclient-confirm-button-bg: rgba(18, 37, 95, 1.0);
    --webclient-confirm-button-border: rgba(46, 100, 255, 0.8);
    --webclient-confirm-button-font-color: #acc1ff;
}
