@import "~@/assets/styles/mobile_base.scss";

$color-light-blue: #7285bc;
$color-blue: #99b3fe;
$color-active: #fff;

.menu {
    position: fixed;
    width: px2rem(520);
    z-index: 1028;
    background-color: $color-bg-trans40-blue;
    top: 0;
    transition: all .5s ease-in-out;
    text-align: left;
    overflow-y: auto;
    overflow-x: auto;
    touch-action: auto;
    -webkit-overflow-scrolling: touch;
    .header {
        height: px2rem(135);
        line-height: 1;
        background-color: $color-bg-trans40-blue;
        padding: px2rem(70) 0 0 px2rem(80);
        color: $color-light-blue;
        font-size: px2rem(24);
        font-weight: 600;
        touch-action: auto;
        p {
            margin-bottom: px2rem(5);
            touch-action: auto;
        }
        .version {
            font-size: px2rem(16);
        }
        .btn-close {
            position: absolute;
            right: px2rem(70);
            font-size: px2rem(24);
            color: $color-blue;
            top: px2rem(70);
            font-weight: 600;
            cursor: pointer;
        }
    }
    .body {
        padding: px2rem(40) 0 0 px2rem(80);
        touch-action: auto;
    }
    .body .item {
        color: $color-light-blue;
        margin-bottom: px2rem(32);
        font-size: px2rem(26);
        letter-spacing: px2rem(2);
        font-weight: 600;
        padding: 0 0 px2rem(15) px2rem(160);
        border-bottom: 1px solid #fff;
        touch-action: auto;
        .item-left {
            float: left;
            margin-left: px2rem(-160);
            display: block;
            touch-action: auto;
        }
        .item-right {
            min-height: px2rem(26);
            touch-action: auto;
            p {
                touch-action: auto;
                cursor: pointer;
                margin-bottom: 0;
            }
            span {
                touch-action: auto;
                cursor: pointer;
            }
            span+span {
                touch-action: auto;
                margin-left: 20px;
            }
        }
        .resolution {
            padding-right: 10px;
            select {
                width: 100%;
                background-color: var(--webclient-nav-bg, $color-bg-trans80-blue);
                border: 0;
                color: #fff;
                line-height: px2rem(50);
                height: px2rem(50);
                border-radius: 3px;
                outline: 0;
            }
        }
    }
    .body .item .active {
        color: white;
    }
}
.menu.enable {
    left: 0,
}
.menu.disable {
    left: -999px;
}