.m-tooltip {
  display: inline-block;
  position: relative;
}
.m-title {
  position: absolute;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transform-origin: 50% 75%;
  transform: translateX(-50%);
  left: 50%;
  white-space: nowrap;
  transition: transform .25s, opacity .25s;
  .u-title {
    padding: 0.44rem 0.89rem;
    word-break: break-all;
    word-wrap: break-word;
    background: var(--webclient-menubar-tooltip-bg);
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.11111rem;
    color: var(--webclient-menubar-tooltip-font-color);
  }
}
.show-tip {
  pointer-events: auto;
  opacity: 1;
}
.bottom {
  bottom: -30px;
}
.top {
  top: -30px;
}