.mobile-modal-setting {
  background-color: var(--webclient-modal_bg, #5A5A5A);
  transition: all .2s;
  top: 0;
  right: -100%;
  position: absolute;
  touch-action: auto;
  z-index: 99;
  &-title {
    height: 5.2071rem;
    padding: 1.18rem;
    box-sizing: border-box;
    background-color: var(--webclient-modal-title-bg,#454545);
    color: var(--webclient-modal-font-color,#DDDDDD);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    i {
      display: inline-block;
      transform: rotate(180deg);
      font-size: 2.54rem;
      vertical-align: middle;
    }
    &-text {
      font-size: 1.6568rem;
      vertical-align: middle;
    }
  }
}
.setting-content {
  overflow-y: auto;
  height: calc(100% - 5.2071rem);
  padding: 1.89rem;
  box-sizing: border-box;
  color: var(--webclient-modal-font-color,#DDDDDD);;
  touch-action: auto;
  &-path {
    margin-bottom: 1.42rem;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.42012rem;
    touch-action: auto;
    >div {
      >i {
        vertical-align: middle;
      }
    }
    .setting-tag {
      display: inline-block;
      padding: 0.47rem 1.89rem;
      border-radius: 0.47337rem;
      color: var(--webclient-modal-tag-font-color,#fff);
      touch-action: auto;
    }
    .setting-tag-check {
      background-color: var(--webclient-modal-tag-active-bg,#fff)!important;
      color: var(--webclient-modal-tag-active-font-color,#444)!important;
    }
    .tag-code {
      margin: 0 0.2rem 0 0.95rem;
    }
    .quality-tag {
      display: inline-block;
      padding: 0.47rem 1.89rem;
      border-radius: 0.47337rem;
      color: var(--webclient-modal-tag-font-color,#fff);
    }
    .quality-check-tag {
      background-color: var(--webclient-modal-tag-active-bg,#fff)!important;
      color: var(--webclient-modal-tag-active-font-color,#444)!important;
    }
    .el-icon-caret-right {
      font-size: 2rem;
    }
  }
  &-volmue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    touch-action: auto;
    >span {
      font-size: 3rem;
    }
    >div {
      width: calc(100% - 5rem);
      padding-right: 0.89rem;
      box-sizing: border-box;
    }
  }
}
.customContentAlert-divider {
  width: 100%;
  border-bottom: 1px solid var(--webclient-dialog-divider);
  margin: 1.5rem 0;
}