@import "~@/webclient/assets/styles/mobile_base.scss";

.controlBall {
    position: absolute;
    z-index: $z-index-index;
    top: 0;
    left: 0;
    animation: fade 1s ease-out 3;
    .pop {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        .pop-icon {
            // margin: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("~@/assets/img/mobile/icon_logo_bg.png");
            width: px2rem(93);
            height: px2rem(93);
            cursor: pointer;
        }
        .icon {
            position: absolute;
            z-index: $z-index-index + 1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: px2rem(70);
            height: px2rem(70);
            text-align: center;
            line-height: px2rem(70);
            cursor: pointer;
        }
        .icon.icon-mouse {
            top: px2rem(10);
            left: px2rem(-108 + 93 / 2);
            background-image: url("~@/assets/img/mobile/icon_mouse_bg.png");
        }
        .icon.icon-keyboard {
            top: px2rem(92);
            left: px2rem(-71 + 93 / 2);
            background-image: url("~@/assets/img/mobile/icon_keyboard_bg.png");
        }
        .icon.icon-handle {
            top: px2rem(132);
            left: px2rem(9 + 93 / 2);
            background-image: url("~@/assets/img/mobile/icon_handle.png");
        }
        .icon.icon-scale {
            top: px2rem(-93);
            left: px2rem(93 / 2 - 70 / 2);
            background-image: url("~@/webclient/assets/img/mobile/icon_bg.png");
        }
        .icon.icon-fullscreen {
            top: px2rem(-70);
            left: px2rem(93 / 2 - 70 - 50);
            background-image: url("~@/assets/img/mobile/icon_bg.png");
        }
        .icon.icon-esc {
            top: px2rem(92 / 2 - 70 / 2);
            left: px2rem(93 / 2 - 70 - 70);
            background-image: url("~@/assets/img/mobile/icon_bg.png");
        }
        .icon.icon-menu {
            top: px2rem(93);
            left: px2rem(93 / 2 - 70 - 50);
            background-image: url("~@/assets/img/mobile/icon_menu_bg.png");
        }
        .icon.icon-exit {
            top: px2rem(93 + 20);
            left: px2rem(93 / 2 - 70 / 2);
            background-image: url("~@/assets/img/mobile/icon_exit_bg.png");
        }
        .pop-content {
            position: absolute;
            width: px2rem(93);
            height: px2rem(93);
            top: 0;
            left: 0;
            cursor: pointer;
        }
        .pop-content.rotate-up {
            transform: rotateZ(90deg);
            .icon {
                transform: rotateZ(-90deg);
            }
        }
        .pop-content.rotate-down {
            transform: rotateZ(-90deg);
            .icon {
                transform: rotateZ(90deg);
            }
        }
        .pop-content.rotate-right {
            transform: rotateZ(180deg);
            .icon {
                transform: rotateZ(-180deg);
            }
        }
    }

    @keyframes fade {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0.5;
        }
    }
}
