.mobile-modal-camera {
  background-color: var(--webclient-modal_bg, #5A5A5A);
  transition: all .2s;
  top: 0;
  right: -100%;
  position: absolute;
  z-index: 99;
  &-title {
    height: 5.2071rem;
    padding: 1.18rem;
    box-sizing: border-box;
    background-color: var(--webclient-modal-title-bg,#454545);
    color: var(--webclient-modal-font-color,#DDDDDD);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    i {
      display: inline-block;
      transform: rotate(180deg);
      font-size: 2.54rem;
      vertical-align: middle;
    }
    &-text {
      font-size: 1.6568rem;
      vertical-align: middle;
    }
  }
}
.camera-content {
  overflow-y: auto;
  height: calc(100% - 5.2071rem);
  padding: 1.89rem;
  box-sizing: border-box;
  color: var(--webclient-modal-font-color,#DDD);
  &-row {
    height: 3.43rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.42012rem;
    &-icon {
      font-size: 2.2rem;
    }
  }
  .camera-content-row:nth-of-type(1) {
    margin-bottom: 0.36rem;
  }
}