/* colors */
$color-bg-trans01-black: rgba(0, 0, 0, 0.1);
$color-bg-trans20-light-blue: rgba(185, 203, 255, 0.2);
$color-bg-trans40-light-blue: rgba(185, 203, 255, 0.4);
$color-bg-light-blue: rgba(185, 203, 255, 1.0);
$color-bg-trans40-blue: rgba(18, 37, 95, 0.4);
$color-bg-trans80-blue: rgba(18, 37, 95, 0.8);
$color-bg-blue: rgba(18, 37, 95, 1.0);
$color-border-trans20-light-blue: rgba(46, 100, 255, 0.2);
$color-border-trans40-light-blue: rgba(46, 100, 255, 0.4);
$color-border-trans80-light-blue: rgba(46, 100, 255, 0.8);
$color-border-light-blue: rgba(46, 100, 255, 0.8);
$color-font-blue: #acc1ff;

/* z-index */
$z-index-index: 10100;
$z-index-menu: 11000;
$z-index-modal: 12000;

$ue-width: 1340; /* ue图的宽度 */
@function px2rem($px) {
  @return #{$px/$ue-width*100}rem;
}
