@import "~@/assets/styles/mobile_base.scss";

.state {
    padding-top: 20px;
    &-row {
        display: flex;
        >p {
            width: 50%;
            margin: 3px 0;
            text-align: left;
        }
        >p:nth-of-type(1) {
            width: 40%;
        }
        >p:nth-of-type(2) {
            width: 60%;
        }
    }
    
}