.modalConfirmPanel {
    position: absolute;
    z-index: $z-index-modal;
    background-color: $color-bg-trans01-black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    .container {
        width: 26.67rem;
        background-color: var(--webclient-dialog-body-bg);
        overflow: auto;
        word-break: break-word;
        color: var(--webclient-confirm-font-color);;
        border-radius: px2rem(2);
        font-family: var(--webclient-confirm-font-family, auto);
        .modalConfirmPanel-title {
            // width: px2rem(527);
            height: 5.3rem;
            padding: 0 1.89rem;
            box-sizing: border-box;
            background: var(--webclient-dialog-title-bg);
            display: flex;
            justify-content: space-between;
            align-items: center;
            >div:nth-of-type(1) {
                p {
                    margin: 0;
                    color: var(--webclient-dialog-font-color);
                    font-family: Noto Sans SC;
                    font-size: 1.55556rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            >div:nth-of-type(2) {
                i {
                    color: var(--webclient-dialog-font-color);
                    font-size: 1.8rem;
                    cursor: pointer;
                }
            }
        }
        .content {
            height: 6.66667rem;
            font-family: Noto Sans SC;
            font-size: 1.42012rem;
            letter-spacing: px2rem(2);
            padding: 1.89rem 1.89rem 0 1.89rem;
            box-sizing: border-box;
            color: var(--webclient-dialog-font-color,#DDD);
            >p {
                max-height: 6.66667rem;
                margin: 0;
                text-align: left;
            }
        }
        .modalConfirmPanel-divider {
            background-color: var(--webclient-dialog-divider);
            width: calc(100% - 40px);
            height: 1px;
            margin: 1.42rem 1.89rem;
        }
        .button-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0 1.89rem;
            box-sizing: border-box;
            .button {
                border-radius: 0.45rem;
                border: 0px solid #999;
                background: var(--webclient-dialog-button-bg);
                color: var(--webclient-dialog-button-font-color,#DDD);
                font-family: Noto Sans SC;
                font-size: 1.33333rem;
                text-align: center;
                margin-bottom: 1.42rem;
            }
            .button+.button {
                margin-left: 2rem;
            }
            .button:hover {
                background-color: var(--webclient-dialog-button-hover-bg)!important;
            }
        }
    }
}
