.mobile-ui{
  width: 100%;
  position: absolute;
  z-index: $z-index-index;
  .pop {
      position: absolute;
      z-index: $z-index-index + 10;
      .pop-icon {
          background-color: var(--webclient-controlball-bg,rgba(84, 84, 84, 0.40));
          border-radius: 50%;
          width: 48px;
          height: 48px;
          color: var(--webclient-controlball-icon-color,#EEEEEE);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 6px;
          box-sizing: border-box;
          >i {
              font-size: 24px;
          }
          &-bg {
              width: 100%;
              height: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
          }
      }
      .pop-panel {
          min-width: 19.5rem;
          // min-height: 27rem;
          background-color: var(--webclient-controlball-panel-bg,#454545);
          border-radius: 0.88757rem;
          color: var(--webclient-controlball-panel-font-color,#DDD);
          padding: 1.78rem;
          // box-sizing: border-box;
          &-box {
              .pop-panel-top,.pop-panel-bottom {
                  display: flex;
                  // justify-content: space-between;
                  flex-wrap: wrap;
                  >div {
                      // width: auto;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      >i {
                          font-size: 3.2rem;
                          display: inline-block;
                          padding: 0.71rem 0.71rem 0 0.71rem;
                      }
                      .icon-yuyin- {
                          font-size: 2.8rem;
                          font-weight: 600;
                          margin: 0.2rem 0;
                      }
                      >p {
                          margin: 0;
                          font-size: 1.10947rem;
                          text-align: center;
                      }
                  }
              }
              .pop-panel-top-all {
                  justify-content: space-between;
              }
              .pop-panel-top-part {
                  >div {
                      width: 33%;
                  }
              }
              .pop-panel-bottom {
                  >div {
                      width: 33%;
                      margin-bottom: 0.3rem;
                  }
                  i {
                      font-size: 3.6rem!important;
                  }
                  .icon-game {
                      font-size: 1.9rem!important;
                      padding: 2.1rem 1.42rem 1.15rem 1.42rem;
                  }
                  .icon-unlock,.icon-lock {
                      font-size: 3rem!important;
                      padding: 1.06rem 0.71rem 0.3rem 0.71rem;
                  }
                  .icon-login {
                      font-size: 3rem!important;
                      padding: 1.26rem 0.71rem 0.2rem 0.71rem;
                  }
                  .icon-guanbi {
                      font-size: 2.8rem!important;
                      border-radius: 50%;
                      padding: 0!important;
                      margin: 1.26rem 0.71rem 0.4rem 0.71rem;
                  }
                  .icon-shurufa {
                    padding: 0.51rem 0.71rem 0 0.71rem;
                  }
              }
          }
      }
      .check-color {
          color: var(--webclient-check-color)!important;
          touch-action: auto;
      }
      .customContentAlert-divider {
          width: 100%;
          border-bottom: 1px solid var(--webclient-dialog-divider);
          margin: 1.66rem 0 0.6rem 0;
      }
      // 摄像头面板
      .camera-panel {
          min-width: 19.5rem;
          min-height: 23rem;
          background-color: var(--webclient-controlball-panel-bg,#454545);
          border-radius: 0.88757rem;
          color: var(--webclient-controlball-panel-font-color,#DDD);
          padding: 3.78rem 1.78rem;
          position: absolute;
          bottom: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          &-item {
              text-align: center;
              >i {
                  font-size: 3.8rem;
                  display: inline-block;
                  padding: 0.71rem;
              }
              >p {
                  margin: 0;
                  font-size: 1.10947rem;
                  text-align: center;
              }
          }
      }
      // 工具、鼠标面板
      .game-panel,.mouse-panel {
          min-width: 19.5rem;
          min-height: 23rem;
          background-color: var(--webclient-controlball-panel-bg,#454545);
          border-radius: 0.88757rem;
          color: var(--webclient-controlball-panel-font-color,#DDD);
          padding: 3.78rem 1.78rem;
          position: absolute;
          bottom: 0;
          right: 0;
          &-item {
              text-align: center;
              >i {
                  width: 5.32544rem;
                  height: 5.32544rem;
                  line-height: 5.32544rem;
                  font-size: 3rem;
                  display: inline-block;
              }
              >svg {
                  width: 5rem;
                  height: 5rem;
              }
              >p {
                  margin: 0;
                  font-size: 1.10947rem;
                  text-align: center;
              }
          }
          .joystick-item {
              >i:nth-of-type(1) {
                  position: relative;
                  touch-action: auto;
                  >i {
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                      font-size: 1.1rem;
                    }
              }
              
            }
          &-item-row {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 1.43rem;
          }
      }
      .rttInfo {
          pointer-events: none;
          text-align: center;
          line-height: px2rem(25);
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: px2rem(48);
          top: px2rem(30);
          .icon-rtt {
              margin-right: px2rem(8);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              display: inline-block;
              width: px2rem(25);
              height: px2rem(25);
          }
      }
    //   .rttInfo.rttBad {
    //       color: red;
    //       .icon-rtt {
    //           background-image: url("../../../assets/img/mobile/network_cell_bad.png");
    //       }
    //   }
    //   .rttInfo.rttGood {
    //       color: #34a853;
    //       .icon-rtt {
    //           background-image: url("../../../assets/img/mobile/network_cell.png");
    //       }
    //   }
  }
}