.notifybar {
    display: flex;
    padding: 0 15px;
    justify-content: flex-start;
    align-items: center;
    background-color: hsla(0,0%,100%,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 20;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    .alertInfo {
        flex: 12;
        white-space: nowrap;
    }
}