@import "~@/assets/styles/mobile_base.scss";

.mobile-ui{
    position: absolute;
    z-index: $z-index-index;
    top: 0;
    left: 0;
    .pop {
        position: absolute;
        z-index: $z-index-index + 1;
/*         top: px2rem(30);
        left: 50%; */
        // width: 90px;
        // margin-left: px2rem(-93);
        .pop-icon {
            // margin: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
           /* background-image: url("/images/control_bar.png");*/
            width: px2rem(93);
            height: px2rem(93);
        }
        .icon {
            position: absolute;
            z-index: $z-index-index + 1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: px2rem(70);
            height: px2rem(70);
        }
        .icon.icon-mouse {
            top: px2rem(10);
            left: px2rem(-108);
            background-image: url("~@/assets/img/mobile/icon_mouse_bg.png");
        }
        .icon.icon-keyboard {
            top: px2rem(92);
            left: px2rem(-71);
            background-image: url("~@/assets/img/mobile/icon_keyboard_bg.png");
        }
        .icon.icon-menu {
            top: px2rem(92);
            left: px2rem(91);
            background-image: url("~@/assets/img/mobile/icon_menu_bg.png");
        }
        .icon.icon-exit {
            top: px2rem(10);
            left: px2rem(130);
            background-image: url("~@/assets/img/mobile/icon_exit_bg.png");
        }
        .icon.icon-handle {
            top: px2rem(132);
            left: px2rem(9);
            background-image: url("~@/assets/img/mobile/icon_handle.png");
        }
    }
    .rttInfo {
        pointer-events: none;
        text-align: center;
        line-height: px2rem(25);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: px2rem(48);
        top: px2rem(30);
        .icon-rtt {
            margin-right: px2rem(8);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            width: px2rem(25);
            height: px2rem(25);
        }
    }
    .rttInfo.rttBad {
        color: red;
        .icon-rtt {
            background-image: url("~@/assets/img/mobile/network_cell_bad.png");
        }
    }
    .rttInfo.rttGood {
        color: #34a853;
        .icon-rtt {
            background-image: url("~@/assets/img/mobile/network_cell.png");
        }
    }
    .pop.pop-toggle {
        span {
            margin-top: px2rem(10);
            // color: white;
            font-size: px2rem(18);
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        .pop-icon  {
            background-image: url("~@/assets/img/mobile/icon_logo_toggled.png");
        }
        span.rttBadInfo {
            position: absolute;
            left: 0;
            font-size: px2rem(16);
            top: px2rem(100);
            width: px2rem(400);
            margin-left: px2rem(-200 + 93);
            display: inline-block;
        }
    }
}
