@import "~@/assets/styles/mobile_base.scss";

.toast {
    position: fixed;
    bottom: px2rem(75);
    left: 50%;
    margin-left: px2rem(calc(-526 / 2));
    z-index: 1029;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    background-color: $color-bg-trans40-blue;
    color: $color-font-blue;
    font-size: px2rem(26);
    line-height: px2rem(60);
    height: px2rem(60);
    min-width: px2rem(526);
    font-weight: 600;
    letter-spacing: px2rem(3);
}