@import "~@/assets/styles/mobile_base.scss";

.toast {
    position: fixed;
    bottom: px2rem(75);
    // left: 50%;
    // margin-left: -50%;
    z-index: 30;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    // background-color: $color-bg-trans40-blue;
    color: $color-font-blue;
    font-size: px2rem(18);
    line-height: px2rem(40);
    height: px2rem(40);
    // min-width: px2rem(526);
    // font-weight: 600;
    letter-spacing: px2rem(3);
    // padding: 0 px2rem(5);
    // border-radius: px2rem(10);
    // position: absolute;
    width: 100%;
    display: flex;
    // text-align: center;
    // /* bottom: 40px; */
    // top: 50%;
    // pointer-events: none;
    // z-index: 30;
    justify-content: center;
    align-items: center;
    .toastText {
        background-color: $color-bg-trans40-blue;
        line-height: px2rem(40);
        height: px2rem(40);
        min-width: px2rem(526);
        padding: 0 px2rem(5);
        border-radius: px2rem(10);
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    //     background-color: rgba(0,0,0,0.7);
    //     border-radius: 20px;
    //     /* line-height: 37px; */
    //     padding: 5px 20px;
    //     color: white;
    //     font-size: 25px;
    //     pointer-events: none;
    }
}