@import "~@/assets/styles/mobile_base.scss";

$joystick-radius : 200;

.joy-container {
    position: absolute;
}
.joystick {
    position: absolute;
    z-index: $z-index-index + 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // for test
    // background-color: burlywood;
    border-radius: 50%;

    .btn {
        pointer-events: none;
        position: absolute;
        font-size: px2rem(30);
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
    .btn.top {
        width: px2rem(100);
        height: px2rem(75);
        line-height: px2rem(75);
        top: px2rem(0);
        left: px2rem(78);
    }
    .btn.bottom {
        width: px2rem(100);
        height: px2rem(75);
        line-height: px2rem(75);
        top: px2rem(170);
        left: px2rem(78);
    }
    .btn.left {
        top: px2rem(78);
        left: px2rem(0);
        width: px2rem(78);
        height: px2rem(100);
        line-height: px2rem(100);
    }
    .btn.right {
        top: px2rem(78);
        left: px2rem(178);
        width: px2rem(78);
        height: px2rem(100);
        line-height: px2rem(100);
    }
    .center {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("~@/assets/img/mobile/joy_stick_top.png");
        width: px2rem(74);
        height: px2rem(74);
        top: 50%;
        left: 50%;
        margin-left: px2rem(-74 / 2);
        margin-top: px2rem(-74 / 2);
        pointer-events: none;
        // for test
        // background-color: aqua;
        border-radius: 50%;
    }
    .center.left  {
        top: px2rem(132);
        left: px2rem(80 / 2);
    }
    .center.right {
        top: px2rem(132);
        left: px2rem(178 + 80 / 2);
    }
    .center.top {
        top: px2rem(40);
        left: px2rem(129);
    }
    .center.bottom {
        top: px2rem(212);
        left: px2rem(129);
    }
}
.joystick.left {
    background-image: url("~@/assets/img/mobile/joy_left_bottom.png");
    // left: px2rem(48);
    // bottom: px2rem(48);
    width: px2rem($joystick-radius);
    height: px2rem($joystick-radius);
}
.joystick.right {
    background-image: url("~@/assets/img/mobile/joy_stick_bottom.png");
    right: px2rem(48);
    bottom: px2rem(48);
    width: px2rem($joystick-radius);
    height: px2rem($joystick-radius);
}

.joystick.keyboard-left {
    left: px2rem(78);
    bottom: px2rem(310);
    // background-color: $color-bg-trans40-blue;
    // border: px2rem(2) solid $color-border-trans40-light-blue;
    border-radius: px2rem(10);
    padding: px2rem(5) 0;
}
.joystick.keyboard-right {
    right: px2rem(78);
    bottom: px2rem(310);
    // background-color: $color-bg-trans40-blue;
    // border: px2rem(2) solid $color-border-trans40-light-blue;
    border-radius: px2rem(10);
    padding: px2rem(5) 0;

    .mouselock {
        top: px2rem(12);
        left: px2rem(12);
        width: px2rem(8);
        height: px2rem(8);
        border-radius: px2rem(8);
        position: absolute;
    }
    .mouselock.mouselock-lock {
        background-color: lightgreen;
    }
    .mouselock.mouselock-unlock {
        background-color: lightgray;
    }
}
.joystick.keyboard-mid {
    width: px2rem(80 * 0.75 * 6 + 9 * 5);
    margin-left: px2rem(-(80 * 0.75 * 6 + 9 * 5) / 2);
    left: 50%;
    bottom: px2rem(30);
    // background-color: $color-bg-trans40-blue;
    // border: px2rem(2) solid $color-border-trans40-light-blue;
    border-radius: px2rem(10);
    padding: px2rem(5) 0;
}
