.customAlert {
  position: absolute;
  z-index: $z-index-modal;
  background-color: $color-bg-trans01-black;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  &-container {
      width: px2rem(527);
      background-color: var(--webclient-dialog-body-bg);
      overflow: auto;
      word-break: break-word;
      color: var(--webclient-dialog-font-color);;
      border-radius: px2rem(2);
      z-index: $z-index-modal;
      .customAlert-title {
          width: px2rem(527);
          height: 5.3rem;
          padding: 0 20px;
          box-sizing: border-box;
          background: var(--webclient-dialog-title-bg);
          display: flex;
          justify-content: space-between!important;
          align-items: center;
          >div:nth-of-type(1) {
              p {
                  margin: 0;
                  color: var(--webclient-dialog-font-color);
                  font-family: Noto Sans SC;
                  font-size: 1.55556rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
              }
          }
          >div:nth-of-type(2) {
              i,svg {
                  color: var(--webclient-dialog-font-color);
                  font-size: 1.8rem;
                  width: 1.8rem!important;
                  cursor: pointer;
              }
          }
      }
      .customAlert-content {
          font-family: Noto Sans SC;
          font-size: 1.33333rem;
          letter-spacing: px2rem(2);
          font-weight: 400;
          padding: 0 20px 20px 20px;
          box-sizing: border-box;
          color: var(--webclient-dialog-font-color,#DDD);
          >p {
              margin: 0;
              text-align: left;
          }
      }
      .customAlert-divider {
          width: 100%;
          border-bottom: 1px solid var(--webclient-dialog-divider,rgba(255, 255, 255, 0.20));
          margin: 20px 0;
      }
      .button-group {
          display: flex;
          justify-content: flex-end;
          box-sizing: border-box;
          .button {
              border-radius: 0.45rem;
              background: var(--webclient-dialog-button-bg,#000);
              color: var(--webclient-dialog-button-font-color,#DDD);
              font-family: Noto Sans SC;
              font-size: 1.33333rem;
              text-align: center;
          }
          .button:hover {
              background-color: var(--webclient-dialog-button-hover-bg)!important;
          }
          .button+.button {
              margin-left: 2rem;
          }
      }
  }
}

